doctype
html
    head
        title Multivision Sopi
        //link(href="/favicon.ico", rel="shourcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app')
        block main-content
        include scripts